@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icons.eot?oh8m56');
  src:  url('fonts/icons.eot?oh8m56#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?oh8m56') format('truetype'),
    url('fonts/icons.woff?oh8m56') format('woff'),
    url('fonts/icons.svg?oh8m56#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-data:before {
  content: "\e900";
}
.icon-export:before {
  content: "\e901";
}
.icon-graphql:before {
  content: "\e902";
}
.icon-import:before {
  content: "\e903";
}
.icon-inferred-off:before {
  content: "\e904";
}
.icon-inferred-on:before {
  content: "\e905";
}
.icon-repo:before {
  content: "\e906";
}
.icon-repo-contour1:before {
  content: "\e907";
}
.icon-repo-contour2:before {
  content: "\e908";
}
.icon-repo-contour3:before {
  content: "\e909";
}
.icon-repo-fedx:before {
  content: "\e90a";
}
.icon-repo-free:before {
  content: "\e90b";
}
.icon-repo-graphdb:before {
  content: "\e90c";
}
.icon-repo-master:before {
  content: "\e90d";
}
.icon-repo-master-mute:before {
  content: "\e90e";
}
.icon-repo-master-ro:before {
  content: "\e90f";
}
.icon-repo-ontop:before {
  content: "\e910";
}
.icon-repo-standart:before {
  content: "\e911";
}
.icon-repo-system:before {
  content: "\e912";
}
.icon-repo-unknown:before {
  content: "\e913";
}
.icon-repo-virtual:before {
  content: "\e914";
}
.icon-repo-worker:before {
  content: "\e915";
}
.icon-sameas-off:before {
  content: "\e916";
}
.icon-sameas-on:before {
  content: "\e917";
}
.icon-sparql:before {
  content: "\e918";
}
