@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?wq9njw');
  src:  url('fonts/icons.eot?wq9njw#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?wq9njw') format('truetype'),
    url('fonts/icons.woff?wq9njw') format('woff'),
    url('fonts/icons.svg?wq9njw#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-follower:before {
  content: "\e963";
}
.icon-export:before {
  content: "\e95b";
}
.icon-readonly:before {
  content: "\e95c";
}
.icon-repo-fedx:before {
  content: "\e95d";
}
.icon-repo-graphdb:before {
  content: "\e95e";
}
.icon-repo-ontop:before {
  content: "\e95f";
}
.icon-repo-unknown:before {
  content: "\e960";
}
.icon-translation:before {
  content: "\e961";
}
.icon-user:before {
  content: "\e962";
}
.icon-repo-graphdb-alt:before {
  content: "\e95a";
}
.icon-repo-fedx-alt:before {
  content: "\e959";
}
.icon-repo-ontop-alt:before {
  content: "\e958";
}
.icon-repo-virtual:before {
  content: "\e957";
}
.icon-exclamation:before {
  content: "\e955";
}
.icon-tick:before {
  content: "\e956";
}
.icon-hbars:before {
  content: "\e953";
}
.icon-phone:before {
  content: "\e954";
}
.icon-apps-grid:before {
  content: "\e94b";
}
.icon-arrow-up-off:before {
  content: "\e948";
}
.icon-collapse:before {
  content: "\e949";
}
.icon-eye-off:before {
  content: "\e94a";
}
.icon-graphql:before {
  content: "\e964";
}
.icon-restore:before {
  content: "\e951";
}
.icon-home:before {
  content: "\e952";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-arrow-left:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-arrow-up:before {
  content: "\e903";
}
.icon-exchange:before {
  content: "\e904";
}
.icon-columns:before {
  content: "\e905";
}
.icon-repo-contour1:before {
  content: "\e906";
}
.icon-inferred-off:before {
  content: "\e907";
}
.icon-inferred-on:before {
  content: "\e908";
}
.icon-save:before {
  content: "\e909";
}
.icon-tag:before {
  content: "\e90a";
}
.icon-repo-contour2:before {
  content: "\e90b";
}
.icon-file:before {
  content: "\e90c";
}
.icon-folder:before {
  content: "\e90d";
}
.icon-heartbeat:before {
  content: "\e90e";
}
.icon-pin:before {
  content: "\e90f";
}
.icon-repo-contour3:before {
  content: "\e910";
}
.icon-zoom-in:before {
  content: "\e911";
}
.icon-zoom-out:before {
  content: "\e912";
}
.icon-repo-master-ro-mute:before {
  content: "\e913";
}
.icon-check:before {
  content: "\e914";
}
.icon-download:before {
  content: "\e915";
}
.icon-external:before {
  content: "\e916";
}
.icon-lock:before {
  content: "\e917";
}
.icon-search:before {
  content: "\e918";
}
.icon-upload:before {
  content: "\e919";
}
.icon-caret-left:before {
  content: "\e91a";
}
.icon-caret-right:before {
  content: "\e91b";
}
.icon-caret-up:before {
  content: "\e91c";
}
.icon-minus:before {
  content: "\e91d";
}
.icon-reload:before {
  content: "\e91e";
}
.icon-trash:before {
  content: "\e91f";
}
.icon-warning:before {
  content: "\e920";
}
.icon-caret-down:before {
  content: "\e921";
}
.icon-close:before {
  content: "\e922";
}
.icon-edit:before {
  content: "\e923";
}
.icon-info:before {
  content: "\e924";
}
.icon-link:before {
  content: "\e925";
}
.icon-more:before {
  content: "\e926";
}
.icon-plus:before {
  content: "\e927";
}
.icon-data:before {
  content: "\e928";
}
.icon-help:before {
  content: "\e929";
}
.icon-monitoring:before {
  content: "\e92a";
}
.icon-settings:before {
  content: "\e92b";
}
.icon-sparql:before {
  content: "\e92c";
}
.icon-user-alt:before {
  content: "\e92d";
}
.icon-export-alt:before {
  content: "\e92e";
}
.icon-import:before {
  content: "\e92f";
}
.icon-comment:before {
  content: "\e930";
}
.icon-connection-off:before {
  content: "\e931";
}
.icon-connection-on:before {
  content: "\e932";
}
.icon-key:before {
  content: "\e933";
}
.icon-copy:before {
  content: "\e934";
}
.icon-eye:before {
  content: "\e935";
}
.icon-repo-free:before {
  content: "\e936";
}
.icon-repo-master-mute:before {
  content: "\e937";
}
.icon-repo-master-ro:before {
  content: "\e938";
}
.icon-repo-master:before {
  content: "\e939";
}
.icon-repo-standart:before {
  content: "\e93a";
}
.icon-repo-system:before {
  content: "\e93b";
}
.icon-repo-worker:before {
  content: "\e93c";
}
.icon-repo:before {
  content: "\e93d";
}
.icon-email:before {
  content: "\e93e";
}
.icon-sameas-off:before {
  content: "\e93f";
}
.icon-sameas-on:before {
  content: "\e940";
}
.icon-play:before {
  content: "\e941";
}
.icon-facebook:before {
  content: "\e942";
}
.icon-google-plus:before {
  content: "\e943";
}
.icon-google:before {
  content: "\e944";
}
.icon-linkedin:before {
  content: "\e945";
}
.icon-twitter:before {
  content: "\e946";
}
.icon-youtube:before {
  content: "\e947";
}
.icon-expand:before {
  content: "\e94c";
}
.icon-focus:before {
  content: "\e94d";
}
.icon-rotate-left:before {
  content: "\e94e";
}
.icon-rotate-right:before {
  content: "\e94f";
}
.icon-info-alt:before {
  content: "\e950";
}
